@import '../colors.css';

.projectContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 70%;
  position: relative;
}

.desktopImg {
  min-width: 324px;
  min-height: 324px;
  max-width: 650px;
  max-height: 650px;
  width: 55%;
  height: 100%;
}

.mobileImg {
  min-width: 150px;
  min-height: 150px;
  width: 30%;
  position: absolute;
  top: 30%;
  left: 57%;
}

.technologiesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.technologiesContainer > li {
  font-size: 23px;
  margin-left: 30px;
}

.callToActionContainer {
  padding-bottom: 20px;
  display: flex;
  font-size: 28px;
  justify-content: space-evenly;
}
